<header>
    <div class="nav_layout2">
        <a class="text-center text-decoration-none" href="/">
            <span class="logoText">S E R E N A</span><br>
            <span class="logoText subLogoText">H o t e l s</span>
        </a>
    </div>
</header>
